/* table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
} */
/* 

.table-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.container {
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  float: left;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
} */


body {
  margin: 0; /* Added to remove default margin */
}
.container {
  width: 100%;
  margin: 0 auto; /* Added to horizontally center the container */
  padding-left: -80px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  float: left;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}